body {
  font-family: verdana, tahoma, arial;
}

.board {
  border: 1px solid black;
  display: inline-block;
}

.row {

}

.square {
  background-color: green;
  width: 64px;
  height: 64px;
  display: inline-block;
  text-align: center;
  line-height: 64px;
  position: relative;
}

.identifier {
  line-height: 8px;
  top: 3px;
  left: 3px;
  position: absolute;
  font-size: 8px;
  opacity: 0.3;
}

.row:nth-child(odd)   .square:nth-child(even)  { background: #87A569; }
.row:nth-child(odd)   .square:nth-child(odd)   { background: #FFFEDE; }

.row:nth-child(even)   .square:nth-child(odd)  { background: #87A569; }
.row:nth-child(even)   .square:nth-child(even) { background: #FFFEDE; }

.piece {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('img/sprites_04.png');
  background-size: cover;
  opacity: 1;
}

.heat-5 { background-color: rgb(255, 50, 0) !important; }
.heat-4 { background-color: rgb(255, 150, 0) !important; }
.heat-3 { background-color: rgb(255, 255, 0) !important; }
.heat-2 { background-color: rgb(200, 255, 0) !important; }
.heat-1 { background-color: rgb(0, 255, 0) !important; }
